@charset "utf-8";
body{
    overflow-x: hidden;
    margin: 0 auto;
}
/* header */
header{
    position: fixed;
    z-index: 4;
    box-sizing: border-box;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
header .gnb{
    display: flex;
}
header .nav_b_menu{
    color: #fff;
    display: block;
    margin-right: 40px;
    font-size: 22px;
}
header .navFinal{
    margin-right: 0;
}
header .sub_m{
    display: none;
}
header .sub_list_menu{
    font-size: 12px;
    color: #fff;
}
/* banner */
.swiper .bannerImg{
    width: 100%;
    height: 100vh;
    /* background-size: cover; */
    /* 넓이 높이가 확실할 때 사용한다! */
}
/*content_First */
.contFirst{
    height: 800px;
    /* background-color: #999; */
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contFirst .contFirstTitle{
    font-size: 60px;
    margin-bottom: 150px;
}
.contFirst .contFirstProductWrap{
    display: flex;
    /* justify-content: center; */
}
.contFirst .contFirstProductItems{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}
.contFirst .contFirstProductItems:nth-child(2n){
    margin-top: 50px;
}
.contFirst .contFirstProductItems:nth-child(4){
    padding-right: 0;
}
.contFirstProductItems .contFirst_img:hover{
    opacity: 0.7;
    transform: scale(1.2);
    transition: 2s;
}
.contFirstProductItems .img_cost{
    overflow: hidden;
}
.contFirst .cont_product_name{
    font-size: 18px;
    font-style: bold;
}
.contFirst .cont_product_more{
    margin-top: 20px;
    /* font-style: bold; */
    font-size: 15px;
}
.contFirst .cont_product_more:hover{
    font-style: bold;
    color: #d5c139;
    transition: 0.8s;
}
/*contSecond*/
.contSecond{
    height: 800px;
    /* background-color: #888; */
    padding: 150px 0;
}
.contSecond .secondTitle{
    font-size: 60px;
    text-align: center;
    margin-bottom: 150px;
}
.contSecond .secondProductWrap{
    display: flex;
}
.contSecond .secondImgCost{
    width: 25%;
    position: relative;
}
.contSecond .secondProductImg{
    width: 100%;
    display: block;
}
.contSecond .secondImgCost:hover .secondProductImg{
    opacity: 0.7;
    transition: 0.1s;
}
.contSecond .secondText{
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 10%;
    opacity: 0;
    transition: 0.8s;
}
.contSecond .secondImgCost:hover .secondText{
    opacity: 1;
    left:10%;
    font-size: 30px;
}
/*lookbook(contThird)*/
.lookbook{
    padding: 50px 0;
    height: 950px;
    background: #101820;
}
.lookbook .lookbookWrap{
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
.lookbook .lookbookTitle{
    color: #fff;
    font-size: 80px;
    padding-top: 50px;
}
.lookbook .lookGroup{
    display: flex;
}
.lookbook .lookbookStory{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.lookbook .lbImg{
    margin-top: 50px;
}
.lookbook .lookbookStory1{
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 50px;
}
.lookbook .lbImg1{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 80px;
}
.lookbook .more{
    color: #fff;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.lookbook .more:hover{
    color: #f00;
    transition: 0.8s;
}
/*footer*/
footer{
    padding: 3% 16%;
    box-sizing: border-box;
    /* height: 300px; */
    background: #000;
    display: flex;
    justify-content: space-between;
}
footer .footer_line{
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}
footer .footText{
    font-weight: bold;
    font-size: 22px;
}
footer .footer_text_last{
    margin-bottom: 0;
}
